<div class="row">  
<div class="col-md-6">
    <h3 id="syllabus-r-gapminder-1">R for Reproducible Scientific Analysis - part 1</h3>
    <ul>
      <li>Introduction to R and RStudio</li>
      <li>Project Management With RStudio</li>
      <li>Seeking Help</li>
      <li>Data Structures</li>
      <li>Exploring Data Frames</li>
      <li>Subsetting Data</li>
      <li>Control Flow</li>
      <li>Creating Publication-Quality Graphics</li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/reference/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r-gapminder-2">R for Reproducible Scientific Analysis - part 2</h3>
    <ul>
      <li>Vectorization</li>
      <li>Functions explained</li>
      <li>Writing Data</li>
      <li>Split-Apply-Combine</li>
      <li>Dataframe Manipulation with dplyr</li>
      <li>Dataframe Manipulation with tidyr</li>
      <li>Producing Reports With knitr</li>
      <li>Writing Good Software</li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/reference/">Reference...</a></li>
    </ul>
</div>
</div>

